<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link href="static/css/base_style.css" rel="stylesheet">
    <link href="static/css/header.css" rel="stylesheet">
    <link href="static/css/profile.css" rel="stylesheet">
    <link href="static/css/welcome_style.css" rel="stylesheet">
    <title>{{title}}</title>
</head>
<body>
<header>
    {% if current_user.is_authenticated %}
    <div>
        <a class="btn btn-primary" id="exit" href="/logout">Выйти</a>
    </div>
        <div>
            {% if not current_user.is_author %}
                <a class="btn btn-primary" href="/becomecreator">Стать автором</a>
            {% else %}
                <a class="btn btn-primary" href="/{{ current_user.name }}">Профиль</a>
            {% endif %}
            <a class="btn btn-primary" href="/">Главная</a>
            <a class="btn btn-primary" href="/settings_page">Настройки</a>
            <a href="search" class="btn btn-secondary">Поиск пользователя</a>
            <a href="money" class="btn btn-secondary">Пополнить счёт</a>
            <a href="transaction" class="btn btn-secondary">Инвестировать</a>
        </div>
    {% endif %}
</header>
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>