{% extends 'base.html' %}

{% block content %}
    <div class="profile">
        <div>
            <p><img src="static/img/profile_img.png" width="100" height="100"></p>
            <h1>{{ user.name }}</h1>
            <h1>О себе:</h1><br/>
            <p>{{ user.about }}</p>
        </div>
        <div class="postContainer">
            <h1>Посты</h1>
            {% if has_admin_permissions %}
            <div>
            <a class="btn btn-primary" href="/addpost">Добавить пост</a>
            </div>
            {% endif %}
            {% for post in posts %}
            <div>
                <h2>{{ post.title }}</h2>
                <p>{{ post.content }}</p>
            </div>
            {% endfor %}
        </div>
        <div>

        </div>
    </div>


    <div></div>
{% endblock %}
