{% extends "search_base.html" %}

{% block content %}
<form action="/search" method="post">
    <link href="static/css/settings_style.css" rel="stylesheet">
    <div>
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
    </p>
        {% if error %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endif %}
    {% for error in form.name.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
    {% endfor %}
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
    </div>
    <div>
    <a class="exit_btn" href="/">Назад</a>    </div>
</form>
{% endblock %}